<div class="user-form">
  <%= form_with model: @user, url: user_registration_path, local: true, class: "card card-body text-center" do |form| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <h2>会員登録</h2>
    
    <div>
      <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control user-form-input" %>
    </div>

    <div class="mb-3">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= form.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "form-control user-form-input" %>
    </div>

    <div class="mb-3">
      <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認用", class: "form-control user-form-input" %>
    </div>

    <div>
      <%= form.submit "登録", class: "btn btn-primary mb-3" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
